In [1]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [2]:
title_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
akas_url= "https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)

In [6]:
title = pd.read_csv(title_url,sep='\t', low_memory=False)

In [7]:
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)

In [8]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [9]:
title.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1694
3  tt0000004            5.7       166
4  tt0000005            6.2      2510

In [10]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [11]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [12]:
akas.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [13]:
basics = basics.replace({'\\N':np.nan})

In [14]:
title = title.replace({'\\N':np.nan})

In [15]:
akas = akas.replace({'\\N':np.nan})

In [16]:
basics.dropna(subset=['genres'], inplace=True)
basics.dropna(subset=['runtimeMinutes'], inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36408
endYear           2338111
runtimeMinutes          0
genres                  0
dtype: int64

In [17]:
basics['titleType'].value_counts()

tvEpisode       1056377
short            571073
movie            364974
video            174284
tvMovie           88014
tvSeries          86099
tvSpecial         16336
tvMiniSeries      15915
tvShort            9360
videoGame           293
Name: titleType, dtype: int64

In [18]:
movie_filter = basics['titleType']=='movie'
movie_filter.head()

0    False
1    False
2    False
3    False
4    False
Name: titleType, dtype: bool

In [19]:
basics = basics.loc[movie_filter, :]
basics['titleType'].value_counts()

movie    364974
Name: titleType, dtype: int64

In [20]:
basics.shape

(364974, 9)

In [21]:
# Delete rows where there are documetaries
basics = basics.loc[basics["genres"] != "Documentary"]
basics.shape

(303072, 9)

In [22]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [23]:
basics['startYear'].value_counts()

2014    10747
2017    10657
2018    10604
2015    10433
2016    10423
        ...
1906        1
1903        1
1908        1
2027        1
1894        1
Name: startYear, Length: 126, dtype: int64

In [24]:
start_filter = basics['startYear']>= "2000"
end_filter = basics['startYear']<= "2021"
basics = basics.loc[start_filter & end_filter, :]
basics['startYear'].value_counts()

2014    10747
2017    10657
2018    10604
2015    10433
2016    10423
2013    10172
2019    10109
2012     9280
2021     8531
2011     8484
2020     7991
2010     7927
2009     6897
2008     5725
2007     4979
2006     4713
2005     4170
2004     3729
2003     3417
2002     3152
2001     2981
2000     2889
Name: startYear, dtype: int64

In [25]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34790      True
61077      True
67620      True
77915      True
86752      True
           ...
9096860    True
9096869    True
9096908    True
9096953    True
9097037    True
Name: tconst, Length: 158010, dtype: bool

In [26]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61077,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67620,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77915,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86752,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9096860,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9096869,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9096908,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9096953,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9097037,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

In [27]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157270 entries, 34790 to 9097037
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          157270 non-null  object
 1   titleType       157270 non-null  object
 2   primaryTitle    157270 non-null  object
 3   originalTitle   157270 non-null  object
 4   isAdult         157270 non-null  object
 5   startYear       157270 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  157270 non-null  object
 8   genres          157270 non-null  object
dtypes: object(9)
memory usage: 12.0+ MB

In [28]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32641536 entries, 0 to 32641535
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.9+ GB

In [29]:
title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253462 entries, 0 to 1253461
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1253462 non-null  object
 1   averageRating  1253462 non-null  float64
 2   numVotes       1253462 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ MB

In [30]:
basics.shape

(157270, 9)

In [31]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61077,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67620,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77915,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86752,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [32]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True)
# Confirm folder created
os.listdir("Data/")

[]

In [38]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [39]:
## Save current dataframe to file.
title.to_csv("Data/title_title.csv.gz",compression='gzip',index=False)

In [40]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [41]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [42]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0

In [43]:
# Open saved file and preview again
title = pd.read_csv("Data/title_title.csv.gz", low_memory = False)
title.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1694
3  tt0000004            5.7       166
4  tt0000005            6.2      2510